@use '../util/mixins' as bp;

.section-about,
.section-practices,
.section-why-us,
.section-showcase,
.section-team,
.section-testimonials,
.footer {
	padding: 12rem 0;

	@include bp.breakpoint(md) {
		padding: 10rem 0;
	}

	@include bp.breakpoint(sm) {
		padding: 8rem 0;
	}
}
