@use '../util/mixins' as bp;

.section-showcase {
	background-color: var(--color-secondary);
	color: var(--color-light-1);
}

.showcase {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6rem;

	@include bp.breakpoint(md) {
		grid-template-columns: 1fr;
	}

	&__left {
	}

	&__right {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		box-shadow: 0 0 25rem 0 rgba(0, 0, 0, 0.1);

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			padding: 4rem 0;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}

		span:first-child {
			font-size: 4rem;
		}

		span {
			font-size: 1.6rem;
		}

		@include bp.breakpoint(sm) {
			span:first-child {
				font-size: 2.5rem;
			}

			span {
				font-size: 1.4rem;
			}
		}
	}
}
