:root {
	--color-primary: #cf9455;
	--color-primary-rgb: 207, 148, 85;

	--color-secondary: #282e3f;
	--color-secondary-rgb: 40, 46, 63;

	--color-white: #fff;
	--color-white-rgb: 255, 255, 255;

	--color-light-1: #f7f7f7;
	--color-dark-1: #424242;
	--color-dark-2: #212121;

	--gradient-overlay: rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3);
}
