@use '../util/mixins' as bp;

.heading-primary {
	font-size: 6rem;
	color: var(--color-light-1);
	line-height: 1.5;

	@include bp.breakpoint(lg) {
		font-size: 4rem;
	}
}

.heading-secondary {
	font-size: 4rem;
}

.heading-secondary--underline {
	position: relative;

	&:after {
		position: absolute;
		content: '';
		bottom: -1rem;
		left: 0;
		height: 0.5rem;
		width: 6rem;
		border-radius: 3px;
		background-color: rgba(var(--color-primary-rgb), 0.8);
	}
}

.heading-quatarnary {
	font-size: 1.8rem;
	font-weight: 600;
}

.sub-heading {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2rem;
	letter-spacing: 1px;
	position: relative;
	margin-left: 3rem;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -3.5rem;

		transform: translate(0, -50%);
		height: 1px;
		width: 3rem;
		background-color: currentColor;
	}
}

.text-primary {
	line-height: 1.7;

	@include bp.breakpoint(lg) {
		font-size: 1.6rem;
	}

	&--base {
		font-size: 1.8rem;
	}

	&--small {
		font-size: 1.4rem;
	}

	&--main {
		width: 70%;
		color: rgba(255, 255, 255, 0.6);

		@include bp.breakpoint(md) {
			width: 100%;
		}
	}
}
